<div class="nav-container">
  <div class="image-container">
    <img
      src="../../assets/img/shikshalokam-logo.png"
      alt="Shikshalokam"
      class="logo"
    />
  </div>
  <div class="nav-items-container">
    <a
      class="nav-item"
      routerLink="employee"
      (click)="activeTab = activeTabConfig.employee"
      href="#"
      [ngClass]="activeTab === activeTabConfig.employee ? 'active' : ''"
    >
      Employee Data
    </a>
    <a
      class="nav-item"
      routerLink="details-table"
      href="#"
      (click)="activeTab = activeTabConfig.table"
      [ngClass]="activeTab === activeTabConfig.table ? 'active' : ''"
    >
      All Employee Detils
    </a>
  </div>
</div>
